body { 
    font-size: .8rem;
    font-family: "Outfit", sans-serif;
    text-align: center; 
    color: hsl(218, 44%, 22%);
    background-color: hsl(212, 45%, 89%);	
}

p {
    color:  hsl(220, 15%, 55%);
    font-size: 1rem;
}

main {
    width: 350px;
    height: 500px;
    background-color: white;
    margin: 10% auto;
    padding: 3% 1% 0 1%;
    border-radius: 10%;
}

img {
    width: 80%;
    border-radius: 10%;
}